In [1]:
print("My mane is Cheparthy Akash")

My mane is Cheparthy Akash

In [2]:
print("My Roll No:A20405219055")

My Roll No:A20405219055

In [3]:
20+14

34

In [4]:
print("Hello")

Hello

In [5]:
45-20

25

In [6]:
8*3

24

In [7]:
8**3

512

In [8]:
9/2

4.5

In [9]:
9//2

4

In [10]:
print("Rohan's age is",20)

Rohan's age is 20

In [11]:
 print("I","am","B.tech Student","year",3)

I am B.tech Student year 3

In [12]:
a=20

In [13]:
print("value of a is",a)

value of a is 20

In [14]:
b=20
c=30
print(a,b,c)

20 20 30

In [15]:
a=2000
print(type(a))

<class 'int'>

In [16]:
d="m"
print(type(d))

<class 'str'>

In [17]:
d='m'
print(type(d))

<class 'str'>

In [18]:
A=2.5 

print(A) 

print(type(A))

2.5
<class 'float'>

In [19]:
Status=True 

print(Status) 

print(type(Status))

True
<class 'bool'>

In [20]:
A=50

In [21]:
B=50

In [22]:
print(A)

50

In [23]:
print(B)

50

In [25]:
print(id(A))

140733508431184

In [26]:
print(id(B))

140733508431184

In [27]:
print(A,B)

50 50

In [28]:
print(id(A),id(B))

140733508431184 140733508431184

In [29]:
print(int(45.67))

45

In [30]:
print(float(45))

45.0

In [32]:
print(int('123'))

123

In [33]:
print(str("123"))

123

In [34]:
#1.write a python program to print 'Welcome'
print("welcome")

welcome

In [36]:
#2.Write a Python Program to initialize all Numeric Data type variables and display.
a=1
b=1.1
c=2+3j
print(a,type(a))
print(b,type(b))
print(c,type(c))

1 <class 'int'>
1.1 <class 'float'>
(2+3j) <class 'complex'>

In [39]:
#3.Write python program to use all arithmetic operators. 
x=10
y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y)

30
-10
200
0.5

In [41]:
#4.Write python program to use all relational operators.
a=19
b=20
print('a is',a)
print('b is',b)
print("a>b is",a>b)
print("a<b is ",a<b)

a is 19
b is 20
a>b is False
a<b is  True

In [50]:
#5.Write python program to use all logical operators. 
a=True
b=False
print("and operator",a and b)
print("or operator",a or b)
print("nand operator",not(a and b))
print("not operator a",not a)
print("not operator b",not b)

and operator False
or operator True
nand operator True
not operator a False
not operator b True